*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 10px;
  margin: 5%;
}

.container {
  width: 100%;
  background-color: #dadada;
  float:left;
  height:auto;
}

h1 {
  font-size: 1em;
  transform:translateX(100px);
  transform:translate(-90px,-90px);
}

h1.emphasis {
  font-family: Eurostile, sans-serif;
  letter-spacing: 3px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px;
  padding-top: 15px;
  transform:translateX(0px);
  text-align: center;
}

.preview {
  font-size: 2em;
  margin-bottom: 20px;
  padding: 100px;
  width: 100%;
}

@media screen and (min-width: 575px){
.preview {
  background-size: cover;
  float:left;
  width: 48%;
  margin:1%;
  }
}

@media screen and (min-width: 991px){
.preview {
  float:left;
  width: 23%;
  margin:1%;
  background-size: cover;
  }
}

.baku {
  background-image: url("/images/baku.jpg");
  background-size: cover;
  height: auto;
}

.london {
  background-image: url("/images/london.png");
  background-size: cover;
}

.madrid {
  background-image: url("/images/madrid.jpg");
  background-size: cover;
}

.rome {
  background-image: url("/images/rome.jpg");
  background-size: cover;
}
